@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.sidebar {
  position: absolute;
  height: 100vh;
  left: -150%;
  transition: 0.3s;
}

.hamburger {
  display: block;
}

.modal-bg {
  background-image: url("/public/images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.open {
  left: 0;
}

.close-button {
  display: block;
}

@media only screen and (min-width: 1441px) {
  .toggle_icon {
    display: none;
  }

  .sidebar {
    position: relative;
    left: 0;
    transition: 0.3s;
  }

  .close-button {
    display: none;
  }

  .hamburger {
    display: none;
  }
}
